/* Get parent CSS */
@import url('red.css');
@import url('dark-style.css');

/* Standard Styles */
a {
	color:#8a1717;
}
a:visited {
	color: #8a1717;
}

a.dbx-toggle, a.dbx-toggle:visited {
	background-image:url(images/exp-coll-red.png);
	background-repeat:no-repeat;
}

.scheme a.dbx-toggle, .scheme a.dbx-toggle:visited {
	background-image:url(images/exp-coll-white.png);
	background-repeat:no-repeat;
}

* html a.dbx-toggle, * html a.dbx-toggle:visited {
	background-image:url(images/exp-coll-red.gif);
	background-repeat:no-repeat;
}

* html .scheme a.dbx-toggle, * html .scheme a.dbx-toggle:visited {
	background-image:url(images/exp-coll-white.gif);
	background-repeat:no-repeat;
}

.suf-widget h3.scheme {
	background: url(images/bg-red.png) repeat-x top left;
}

/* Blog title */
h1.blogtitle a:hover {
	color: #8a1717;
}

/* search form */
.searchform input[type="submit"].searchsubmit { 
	background: url(images/search-button-red.png) no-repeat 0 0;
}

/* main menu */
#nav .current_page_item a, #nav .current_page_item a:hover, #nav li a:active {
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
	color: #fff;
}

#nav li a:hover {
	color: #fff;
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
}

#nav li a:active {
	color: #fff;
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
}

/* Styling for drop-down lists */
#nav ul ul li a:hover {
	color: #fff;
}

/* style the links for the top level */
#nav a.highlighted,
#nav a:active {
	color: #fff;
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
}

/* style the second level hover */
#nav ul ul a.drop:hover {
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
	color: #fff;
}

#nav ul ul :hover > a.drop {
	color: #fff;
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
}

/* style the third level hover */
#nav ul ul ul a:hover {
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
	color: #fff;
}

/* style the top level hover */
#nav a:hover, 
#nav ul ul a:hover {
	color: #fff;
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
}

#nav :hover > a, 
#nav ul ul :hover > a {
	color: #fff;
	background: #ef0506 url(images/bg-red.png) repeat-x top left;
}

/* sub menu */
#subnav .current_page_item a,
#subnav .current_page_item a:visited,
#subnav .current_page_parent a,
#subnav .current_page_parent a:visited {
	color: #8a1717;
}

#subnav li a:hover {
	color: #8a1717;
}

/* Level 3 */
#l3nav .current_page_item a, #l3nav .current_page_item a:visited, 
#l4nav .current_page_item a, #l4nav .current_page_item a:visited, 
#l5nav .current_page_item a, #l5nav .current_page_item a:visited, 
#l6nav .current_page_item a, #l6nav .current_page_item a:visited, 
#l7nav .current_page_item a, #l7nav .current_page_item a:visited, 
#l8nav .current_page_item a, #l8nav .current_page_item a:visited {
	color: #8a1717;
}

#l3nav li a:hover, 
#l4nav li a:hover, 
#l5nav li a:hover, 
#l6nav li a:hover, 
#l7nav li a:hover, 
#l8nav li a:hover {
	color: #8a1717;
}

/* content */
.post .date {
	background: url(images/calred.png) no-repeat;
	color: #fff;
}

.post .date span {
	color: #fff;
}
.post .date span.year {
	color: #fff;
}

.postdata a:hover {
	color: #8a1717;
}

/* post title */
h2.posttitle a:hover {
	color: #8a1717;
}
.tags a:hover {
	color: #8a1717;
}

/* next & previous page navigation */
.page-nav a:hover {
	color: #8a1717;
}

/* next & previous post navigation */
.post-nav a:hover {
	color: #8a1717;
}

.suf-page-nav a.page-numbers,
.suf-page-nav a.page-numbers:visited {
	color: #8a1717;
}

/* comment list */
.commentlist cite {
	color: #8a1717;
}
.commentlist cite a, .commentlist cite a:visited {
	color: #8a1717;
}

/* Credits  */
#cred a:hover {
	color: #8a1717;
}

.suf-widget h3.scheme,
.suf-widget h3.scheme:hover,
.suf-widget h3.scheme a, 
.suf-widget h3.scheme a:visited {
	color: #fff;
}

.suf-widget a:hover,
.suf-widget a:focus,
.suf-widget a:active,
#sidebar a:hover,
#sidebar-2 a:hover,
#sidebar a:focus,
#sidebar-2 a:focus,
#sidebar a:active,
#sidebar-2 a:active {
	color: #8a1717;
}

.suf-widget ul li {
	background-image: url(images/icons/bulletred.png);
}

.suf-widget ul li ul li {
	background-image: url(images/icons/bulletred.png);
}

.widget_archive ul li,
.widget_archive ul li ul li {
	background-image: url(images/icons/calendar_date.png);
}

.widget_categories ul li,
.widget_categories ul li ul li,
.widget_categories ul li ul li ul li {
	background-image: url(images/icons/folder-red-16.png);
}

#archives ul li {
	background-image: url(images/icons/calendar_date.png);
}

#recent-comments ul li {
	background-image: url(images/icons/comments.png);
}

#recent-posts ul li {
	background-image: url(images/icons/page_copy.png);
}

#categories ul li,
#categories ul li ul li,
#categories ul li ul li ul li {
	background-image: url(images/icons/folder-red-16.png);
}

/* meta */
#meta .check {
	background: url(images/check.gif) no-repeat left center;
}

/* calendar */
#calendar a,
.widget_calendar a {
	color: #8a1717;
}

/* The following are defined for the dark-red scheme only, due to the default dark-style colors not gelling well with red*/
blockquote{
	border: 1px solid #222222;
}

#wrapper {
	background-color: #000000;
	border-color: #222222;
}

div.suf-widget {
	border: 1px solid #222222;
}

.dbx-handle {
	border-bottom: 1px dotted #222222;
}

#nav {
	border-bottom: 1px solid #222222;
}

#nav ul li{
	border: 1px solid #222222;
}

#nav ul ul li {
	border: 1px solid #222222;
}

#subnav {
	border: 1px solid #222222;
}

#subnav li {
	border-right: 1px solid #222222;
}

#subnav .current_page_item,
#subnav .current_page_parent {
	background: #000;
}

#l3nav, #l4nav, #l5nav, #l6nav, #l7nav, #l8nav {
	border: 1px solid #222222;
	margin-top: 0px;
}

#l3nav .current_page_item,
#l4nav .current_page_item, 
#l5nav .current_page_item, 
#l6nav .current_page_item, 
#l7nav .current_page_item, 
#l8nav .current_page_item {
	background: #000000;
	border-left: 1px solid #222222;
}

#l3nav li,
#l4nav li, 
#l5nav li, 
#l6nav li, 
#l7nav li, 
#l8nav li {
	border-right: 1px solid #222222;
}

.post {
	border: 1px solid #222222;
}

h2.posttitle {
	border-bottom: dotted 1px #222222;
}

.page-nav {
	border: 1px solid #222222;
}

.post-nav {
	border: 1px solid #222222;
}

#commentform textarea {
	border: solid 1px #222222;
}

#cred {
	border-top: 1px solid #222222;
}

input{
	border: solid 1px #222222;
}
	
textarea {
	border: solid 1px #222222;
}

.button, input[type="submit"], .submit {
	border: 2px double #222222;
}

#postbox, #postbox textarea {
	border: solid 1px #222222;
}

.author-profile {
	border-color: #222222;
}

/* Settings for Featured Posts */
#featured-posts {
	border-color: #222222;
}

/* These settings are for common plugins */
.wp-pagenavi a,
.wp-pagenavi a:visited,
.wp-pagenavi span {
	color: #8a1717;
}

.wp-pagenavi a:hover {
	color: #fff;
}

.tab-box ul.sidebar-tabs li a {
	border: 1px solid #222;
}

.tab-box div.sidebar-tab-content {
	border: 1px solid #222;
}

/* Magazine */
.suf-mag-headlines,
.suf-mag-excerpts td,
.suf-mag-categories th,
.suf-mag-categories td {
	border: 1px solid #222;
}


